<style>
.portfolio-entry-title
{
   color: #0e5c73!important;
   letter-spacing: 0!important;
   font-size: 1.0em!important;
   text-align: center!important;
   text-transform: lowercase!important;
}
</style>